{% extends "main/base.html" %}
{% block heading %}首頁{% endblock %}
{% block content %}
<p>{{message}}</p>
{% if messages %}
{% for message in messages %}
<p {% if message.tags %} class={{message.tags}} {% endif %}>{{message}}</p>
{% endfor %}
{% endif %}
<p>現在時間：<span style=color:red;>{{now}}</span></p>
<p><a href={% url 'wiki:about' %}>about</a>
<p><a href={% url 'wiki:wiki' %}>wiki</a>
{% if user.is_authenticated %}
    <p><a href={% url 'account:userLogout' %}>登出 ({{user.username}})</a></p>
{% else %}
    <p><a href={% url 'account:register' %}>註冊</a></p>
    <p><a href={% url 'account:userLogin' %}>登入</a></p>
{% endif %}
{% endblock %}